<div>
	<div><h1>Meet the Alumni Committee</h1></div>

	<div id="committte-intro">
	</div><br>

	<div class="container">
		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Emiko Neithercut, s03</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Emiko.png", :alt => "Emiko") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Frank Gorke, f93</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Frank.png", :alt => "Frank") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Ben Pomeroy, s95</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Ben.png", :alt => "Ben") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Schuyler Daum, f06</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Schuyler.png", :alt => "Schuyler") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Megan McJennett, f89</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Megan.png", :alt => "Megan") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Jake Upton, s88</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Jake.png", :alt => "Jake") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Simon Taranto, f04</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Anna (Lee) Fogelsong, f96</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Anna.png", :alt => "Anna") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Jim Sherwin, s00</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Jim.png", :alt => "Jim") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Sidra Smith, s87</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Sidra.png", :alt => "Sidra") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Marie Horbar, f03</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Marie.png", :alt => "Marie") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Cassie Marlantes Rahm, s97</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Cassie.png", :alt => "Cassie") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Liza Walker, f87</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Liza.png", :alt => "Liza") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Steve Lee, f91</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Steve.png", :alt => "Steve") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

	</div>
</div>