<div>
	<div><h1>Meet the Alumni Committee</h1></div>

	<div id="committte-intro">
	</div><br>

	<div class="container">
		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Steve Lee, f91</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Steve.png", :alt => "Steve") %>
				</div>
				<div id="profile-text">
					I am an editor and speechwriter for a financial services firm. I live in Brooklyn with my wife, Carolyn, and our son, Miles. 
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Frank Gorke, f93</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Frank.png", :alt => "Frank") %>
				</div>
				<div id="profile-text">
					I live outside Boston with my wife and daughter. Until recently I oversaw energy efficiency policy and programs for the Commonwealth of Massachusetts. I am now opening a northeast office for a fast-growing energy efficiency consulting company. I  keep stumbling upon TMS alums in my work and social life, and have long thought, "Wouldn't it be great if we found each other on purpose, rather than by accident?"
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Ben Pomeroy, s95</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Ben.png", :alt => "Ben") %>
				</div>
				<div id="profile-text">
					I live in Brooklyn, NY and produce the environmental podcast Now Or Never Radio. TMS has always been a pillar for personal growth for me, and my semester friends are some of my closest.  For those reasons and the promise of farm inspired feasts, I am excited to help expand and strengthen the TMS global community.  

				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Schuyler Daum, f06</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Schuyler.png", :alt => "Schuyler") %>
				</div>
				<div id="profile-text">
					I am about to graduate from Harvard with a degree in the Classics, but I'll be staying in Boston next year to work in consulting. I got involved with this new TMS alumni initiative because Alden's English class is still the best class I've taken and I'd like to spread that TMS thoughtfulness to the world outside Vershire.
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Megan McJennett, f89</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Megan.png", :alt => "Megan") %>
				</div>
				<div id="profile-text">
					I live in Seattle with my husband and 2 young children and am the Programs Director for a local youth development nonprofit. About 15 years after I left Garden Hill it finally dawned on me that the experience had been a pivotal moment in my life and I noticed that every time I met a bunch of TMS grads I always really enjoyed them, so when the opportunity came up to help shape this new initiative, I jumped at the chance to get involved.
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Jake Upton, s88</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Jake.png", :alt => "Jake") %>
				</div>
				<div id="profile-text">
					I live outside of Boston with my wife and three kids.  There years ago I founded Upton + Partners, LLC to develop uniquely innovative real estate projects that have the prospect of contributing special social values to our communities. Our projects have ranged from tented eco-resorts on the pristine Northern California coast, to renovating world class museums and redeveloping dilapidated historic mills into LEED-certified loft housing in the urban core. I wanted to get involved in this effort because the world is catching on to the Mountain School’s teachings/values and I believe there is an increasing need for alumni to have a platform to support each other in our unique pursuits.
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Simon Taranto, f04</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					I live in Boulder, CO and work with a start up software company focused on the energy sector.  I enjoy mountain biking, skiing, and playing rugby.  I jumped at the chance to get involved with the TMS alumni network because I missed the Northeast and Vermont.  I look forward to getting back in touch with old friends and making new connections with TMS alumni.
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Anna (Lee) Fogelsong, f96</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Anna.png", :alt => "Anna") %>
				</div>
				<div id="profile-text">
					I currently live in San Francisco with my husband and new baby girl and work on energy efficiency and climate change issues for Pacific Gas & Electric Company. My time at The Mountain School transformed me, challenged me, and gave me some great friends (not to mention the fudgy oat squares!), and I hope to continue that journey as a TMS alum. 
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Jim Sherwin, s00</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Jim.png", :alt => "Jim") %>
				</div>
				<div id="profile-text">
					I am a Cleveland native who now lives in New York and works for JSTOR, a digital archive of academic journals. I joined the TMS alumni committee to help all alumni reconnect with former classmates and make new connections with members of the vast TMS community.
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Sidra Smith, s87</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Sidra.png", :alt => "Sidra") %>
				</div>
				<div id="profile-text">
					I serve as academic dean at the Cambridge School of Weston in Massachusetts, having worked 20 years as a teacher and administrator at the middle school, high school and college levels. I believe my experiences as a TMS student led me to pursue a career in education along with scholarly interests in eco-literary criticism. An African American urban dweller with roots in the deep South, I don't see myself as a prototypical TMS alum. 
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Marie Horbar, f03</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Marie.png", :alt => "Marie") %>
				</div>
				<div id="profile-text">
					I am a native Vermonter and currently live in Washington D.C. where I work for the U.S. Institute for Environmental Conflict Resolution, a program of the Udall Foundation. D.C. life is wonderful, in large part thanks to the Mountain School community in this city.  I am extremely excited about the new alumni initiative and look forward to working with all of you to create something meaningful, lasting, and fun!
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-name">Cassie Marlantes Rahm, s97</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Cassie.png", :alt => "Cassie") %>
				</div>
				<div id="profile-text">
					I live in New York and work as a lawyer for the Natural Resources Defense Council. I was excited to join this initiative because I love all things Mountain School and it sounded like a wonderful idea to bring more alums together and figure out ways to bring home the fun of the Mountain School.
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-name">Liza Walker, f87</div>
				<div id="profile-photo">
					<%= image_tag("/images/profiles/Liza.png", :alt => "Liza") %>
				</div>
				<div id="profile-text">
					I live an hour away from TMS, in Waitsfield, Vermont, with my husband and two kids. For the past fifteen years, I have been working for the Vermont Land Trust, helping families and communities protect farm and forestland that we and future generations will need-- for growing local food, making syrup, hiking, skiing, learning, and keeping natural systems intact.  I was excited to join the TMS alumni committee to have an opportunity to reconnect with others who were impacted by their time at the school and to think about how we can bring the experience forward into our current lives and communities! 
				</div>
			</div>
			<div class="span5" id="profile">

			</div>
		</div>

	</div>
</div>