<div>
	<div><h1>Meet the Alumni Committee</h1></div>

	<div id="committte-intro">
		xxx -- some intro text --- xxx
	</div><br>

	<div class="container">
		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div><br>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
			<div class="span5" id="profile">
				<div id="profile-photo">
					<%= image_tag("/images/profiles/simon.png", :alt => "Simon") %>
				</div>
				<div id="profile-text">
					<%= "foo bar"*20 %>
				</div>
			</div>
		</div>

	</div>
</div>